<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From pendaftaran.pt</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    </h1>Form pendaftaran.pt</h1>
    <form action=""method="">
        <table>
        </tr>
        <tr>
            <td>Nama pemilik</td>
            <td>:</td>
            <td><input type="text" name="Nama pemilik"></td>
            </tr>
            <tr>
                <td>Alamat stnk</td>
                <td>:</td>
                <td><textarea name="" id="" cols="30" rows="2"></textarea></tektarea></td>
            </tr>
            <tr>
                <td>Kecamatan</td>
                <td>:</td>
                <td>
                    <select name="Kecamatan">
                        <option>...kecamatan...</option>
                        <option>Pamekasan</option>
                        <option>Sampang</option>
                        <option>Bangkalan</option>
                        <option>Sumenep</option>
                    </select>
                </td>
            </tr>
            <tr>
            
                <td>Nomor polisi</td>
                <td>:</td>
                <td><input type="text" name="Alamat"></td>
            </tr>
            <tr>
                <td>Masa berlaku kendaraan</td>
                <td>:</td>
                <td><input type="date" name="Masa berlaku kendaraan"></td>
            </tr>
            <tr>
                <td>Nomer mesin</td>
                <td>:</td>
                <td><input type="text" name="Nomer mesin"></td>
            </tr>
            <tr>
                <td>Nomer hp/whatsapp</td>
                <td>:</td>
                <td><input type="number" name="Nome-hp/whatsapp"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td>:</td>
                <td><input type="tekt" name="Email"></td>
            </tr>
            <tr>
                <td>Tipe kendaraan</td>
                <td>:</td>
                <td><input type="tekt" name="Tipe kendaraan"></td>  
            </tr>
                <td></td>
                <td></td>
                <td>
                    <button type="submit" name="kirim">kirim</button>
                    <button type="reset" name="reset">batal</button>
        </table>
    </form>
</body>
</html>